@model SGE.Models.Aluno

@{
    ViewData["Title"] = "Create";
    Guid TipoUser = (Guid)@ViewData["TipoUsuarioId"];
}

<h1>Create</h1>

<h4>Aluno</h4>
<hr />
@if (ViewData["Erro"] != null)
{
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="alert alert-danger">
                <strong> @ViewData["Erro"] </strong>

            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlunoNome" class="control-label"></label>
                <input asp-for="AlunoNome" class="form-control" />
                <span asp-validation-for="AlunoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" type="date" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Logradouro" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Numero" class="form-control" type="hidden" />
            </div>
            <div class="form-group">

                <input asp-for="Cidade" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Estado" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="CEP" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="ConfirmeSenha" type="hidden" name="ConfirmeSenha" class="form-control" />
            </div>

            <div class="form-group form-switch mt-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" asp-for="CadAtivo" /> @Html.DisplayNameFor(model => model.CadAtivo)
                </label>
            </div>
            <div class="form-group">
                <input asp-for="DataCadastro" class="form-control" type="hidden"
                       value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />
            </div>
            <div class="form-group">
                <input asp-for="CadInativo" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="TipoUsuarioId" type="hidden" value="@TipoUser" />
            </div>
            <div class="form-group">
                <label asp-for="UrlFoto" class="control-label"></label>
                <input asp-for="UrlFoto" type="file" class="form-control" name="UrlFoto" />
                <span asp-validation-for="UrlFoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
