@model SGE.Models.Ocorrencia

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex flex-row align-items-center mb-5 mt-5 container ">
    <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16 " style="color: #fff; border:20px">
        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
    </svg>

    <p class="h2 ps-4 text-light">
        Bloco de Ocorrências
    </p>
</div>

<hr style="color: #fff" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-light">
                <label asp-for="Usuario" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group text-light">
                <label asp-for="TipoOcorrencia" class="control-label"></label>
                <select asp-for="TipoOcorrenciaId" class="form-control" asp-items="ViewBag.TipoOcorrenciaId"></select>
            </div>
            <div class="form-group text-light">
                <label asp-for="DataOcorrencia" class="control-label"></label>
                <input asp-for="DataOcorrencia" class="form-control" />
                <span asp-validation-for="DataOcorrencia" class="text-danger"></span>
            </div>
            <div class="form-group text-light">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group form-check text-light">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CadAtivo" /> @Html.DisplayNameFor(model => model.CadAtivo)
                </label>
            </div>
            <div class="form-group text-light">
                <label asp-for="CadInativo" class="control-label"></label>
                <input asp-for="CadInativo" class="form-control" />
                <span asp-validation-for="CadInativo" class="text-danger"></span>
            </div>
            <div class="form-group form-check text-light">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Finalizado" /> @Html.DisplayNameFor(model => model.Finalizado)
                </label>
            </div>
            <div class="form-group text-light">
                <label asp-for="DataFinalizado" class="control-label"></label>
                <input asp-for="DataFinalizado" class="form-control" />
                <span asp-validation-for="DataFinalizado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
