@{
    ViewData["Title"] = "Home Page";

    var sessionEmail = Context.Session.GetString("email");
    var sessionNome = Context.Session.GetString("nome");
    var sessionTipoUsuarioId = Context.Session.GetString("tipo");

}

<div class="text-center">
    <div class="d-flex flex-wrap justify-content-center gap-4 ">

        <a class="text-decoration-none" asp-area="" asp-controller="Alunos" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35)">
                <div class="pb-0 card-body">
                    <img width="100%" src="./img/aluno.svg" />
                </div>
                <div class="pt-0 card-footer border-0 bg-transparent pb-4" style="font-size:36px">
                    Alunos
                </div>
            </div>
        </a>


        <a class="text-decoration-none" asp-area="" asp-controller="Turmas" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35)">
                <div class="pb-0 card-body">
                    <img width="100%" src="./img/aluno.svg" />
                </div>
                <div class="pt-0 card-footer border-0 bg-transparent pb-4" style="font-size:36px">
                    Alunos
                </div>
            </div>
        </a>


        <a class="text-decoration-none" asp-area="" asp-controller="ReservasSala" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35)">
                <div class="pb-0 card-body">
                    <img width="100%" src="./img/aluno.svg" />
                </div>
                <div class="pt-0 card-footer border-0 bg-transparent pb-4" style="font-size:36px">
                    Alunos
                </div>
            </div>
        </a>


        <a class="text-decoration-none" asp-area="" asp-controller="Ocorrencias" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35)">
                <div class="pb-0 card-body">
                    <img width="100%" src="./img/aluno.svg" />
                </div>
                <div class="pt-0 card-footer border-0 bg-transparent pb-4" style="font-size:36px">
                    Alunos
                </div>
            </div>
        </a>


        <a class="text-decoration-none" asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35)">
                <div class="pb-0 card-body">
                    <img width="100%" src="./img/aluno.svg" />
                </div>
                <div class="pt-0 card-footer border-0 bg-transparent pb-4" style="font-size:36px">
                    Alunos
                </div>
            </div>
        </a>


    </div>
</div>
