@{
    ViewData["Title"] = "Home Page";

    var sessionEmail = Context.Session.GetString("email");
    var sessionNome = Context.Session.GetString("nome");
    var sessionTipoUsuarioId = Context.Session.GetString("tipo");

}

<div class="d-flex justify-content-center">

    <div class="w-75 d-flex flex-wrap justify-content-center align-items-center text-center" style="gap:80px">

        <a class="text-decoration-none" asp-area="" asp-controller="Alunos" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35); height:250px;width:250px">
                <img class="card-body pb-0 h-75" src="/img/aluno.svg" />
                <div class="pt-0 border-0 bg-transparent pb-4" style="font-size:30px">
                    Alunos
                </div>
            </div>
        </a>

        <a class="text-decoration-none" asp-area="" asp-controller="Turmas" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35); height:250px;width:250px">
                <img class="card-body pb-0 h-75" src="/img/Turmas.svg" />
                <div class="pt-0 border-0 bg-transparent pb-4" style="font-size:30px">
                    Turmas
                </div>
            </div>
        </a>

        <a class="text-decoration-none" asp-area="" asp-controller="ReservasSala" asp-action="Reservas">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35); height:250px;width:250px">
                <img class="card-body pb-0 h-75" src="./img/ReservaSalas.svg" />
                <div class="pt-0 border-0 bg-transparent pb-4" style="font-size:30px">
                    Reserva de Sala
                </div>
            </div>
        </a>

        <a class="text-decoration-none" asp-area="" asp-controller="Ocorrencias" asp-action="ListaOcorrencias">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35); height:250px;width:250px">
                <img class="card-body pb-0 h-75" src="./img/Ocorrencias.svg" />
                <div class="pt-0 border-0 bg-transparent pb-4" style="font-size:30px">
                    Ocorrências
                </div>
            </div>
        </a>

        <a class="text-decoration-none" asp-area="" asp-controller="Usuarios" asp-action="Index">
            <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35); height:250px;width:250px">
                <img class="card-body pb-0 h-75" src="./img/usuarios.svg" />
                <div class="pt-0 border-0 bg-transparent pb-4" style="font-size:30px">
                    Usuários
                </div>
            </div>
        </a>

    </div>


</div>