@model SGE.Models.Turma

@{
    ViewData["Title"] = "Create";
}
<div class="d-flex align-items-center">

    <a class="text-decoration-none" asp-area="" asp-controller="Alunos" asp-action="Index">
        <div class="card border border-2 rounded-5 text-light bg-transparent" style="box-shadow: -15px 15px 12px rgba(0,0,0,0.35); height:250px;width:250px">
            <img class="card-body pb-0 h-75" src="./img/aluno.svg" />
            <div class="pt-0 border-0 bg-transparent pb-4" style="font-size:30px">
                Alunos
            </div>
        </div>
    </a>
    <h4 class="text-light">Turma/Criar</h4>
</div>

<hr />
<div class="row">
    <div class="col-md-4 text-light">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TurmaNome" class="control-label"></label>
                <input asp-for="TurmaNome" class="form-control" />
                <span asp-validation-for="TurmaNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Turno" class="control-label"></label>
                <input asp-for="Turno" class="form-control" />
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CadAtivo" /> @Html.DisplayNameFor(model => model.CadAtivo)
                </label>
            </div>
            <div class="form-group">
                <input asp-for="CadInativo" class="form-control" type="hidden" />
                <span asp-validation-for="CadInativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DataFim" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
